:root {
  --vermelho: #e50914;
  --preta: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-family: 'Arial Narrow Bold', Impact, Haettenschweiler, sans-serif;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover {
  color: #fff;
}

.container {
  margin-left: 30px;
  margin-right: 30px;
}

/*FILME PRINCIPAL*/

.main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/spiderman-cover.jpg');
  height: 400px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .main-movie-title {
  margin-top: 10%;
  font-size: 40px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-movie .description {
  margin-top: 10px;
}

.main-movie .container {
  width: 70%;
}

.main-movie .buttons-container {
  margin-top: 40px;
}

.button {
  background-color: rgba(0,0,0,.50);
  border: none;
  color: white;
  padding: 15px 30px;
  margin-right: 15px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  transition: .3s ease all;
}

.button i {
  margin-right: 5px;
}

.button:hover {
  background-color: white;
  color: black;
}

/*CARROSSEL*/

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
  max-height: 800px;
}

.carousel-movies {
  margin-top: 5px;
}